* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

:root {
  --background-color-gray: #1d1d1c;
}

/* BARRA DE NAVEGACION */

.header {
  /* Encabezado */
  background-color: rgba(1, 1, 1, 0.88);
  width: 100%;
  height: 90px;
}

.enlace_logo {
  padding-top: 5px;
  margin-left: 5px;
}

.logo {
  height: 80px;
  /*width: 80%;
    height: 80%;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 30px;*/
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav_menu {
  /* Toda la lista ul*/
  display: flex;
  margin-right: 30px;
  list-style: none;
}

.nav_menu_item {
  font-size: 20px;
  margin: 15px;
  line-height: 60px; /* Altura de los nombres de las paginas */
  width: max-content;
}

.nav_menu_link:hover {
  color: #f57806;
  transition: 0.3s;
}

.nav-toggle {
  color: white;
  background: none;
  border: none;
  display: none;
}

.bars {
  display: none;
  height: 22px;
  padding-right: 20px;
  color: white;
}

/* COMIENZO EDITOR DE ESTILOS BANNER E INFORMACION */

.banner {
  width: 100%;
}

/* EDITOR DE ESTILOS INFORMACION DE LA PAGINA */

.information {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30%;
}

.information-1 {
  padding-top: 5%;
  padding-left: 150px;
  padding-right: 150px;
}

.information-2 {
  text-align: center;
}

.information-1,
.information-2 {
  width: 50%;
  height: 450px;
  background-color: white;
  float: left;
}

.tittle-information {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.information-list {
  margin-left: 20px;
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 30px;
}

.information-text {
  margin-bottom: 30px;
  text-align: left;
}

.information-text1 {
  /* margin-right: 30px; */
  text-align: left;
}

.img--information-2 {
  width: 60%;
}

/* ESTILOS PARA LA SECCION DE RECICLAJE */

.body__page {
  background-color: var(--background-color-gray);
  padding-top: 5%;
  padding-bottom: 10%;
}

.body__page h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  color: white;
  text-shadow: 2px 5px #000;
}

.container__card {
  /* background-color: var(--background-color-gray); */
  max-width: 992px;
  padding: 20px;
  padding-bottom: 40px;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 50%;
  position: relative;
  border-radius: 20px;
  /* margin: 20px; */
  transition: all 300ms;
}

.card:hover .info__description {
  margin-top: 0;
  border-radius: 0px 0px 20px 20px;
}

.card:hover .icon {
  margin-top: -50px;
  border-radius: 20px 20px 0px 0px;
}

.icon {
  width: 90%;
  border-radius: 20px;
  background-color: #114bc7;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
}

.icon-img {
  width: 45%;
}

.info__description {
  width: 90%;
  text-align: center;
  background: #e2e2e2;
  padding: 20px;
  border-radius: 30px;
  margin-top: -45%;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
}

.info__description p {
  font-size: 14px;
  margin-top: 10px;
  text-align: justify;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
}

.info__description input {
  margin-top: 1px;
  margin-bottom: 10px;
  padding: 10px 40px;
  background: black;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 30px -5px #20202049;
}

.c1:hover .icon {
  background-color: #f17806;
}

.c1:hover .icon-img {
  width: 50%;
  transition: 0.5s;
}

/* ESTILOS INFORMACIÓN DE TARJETAS */
.contenedor-columnas {
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  padding: 10px 40px;
}

.contenedor-columnas h3 {
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
}

.columnas {
  width: 33.333%;
  float: left;
  padding: 20px 20px;
  box-sizing: border-box;
  margin: auto;
}

.columnas h4 {
  margin-top: 15px;
  font-size: 18px;
  padding: 10px 0;
}

.columnas img {
  height: 300px;
}
.columnas p {
  text-align: left;
}

@media (max-width: 768px) {
  .header {
    height: 80px;
  }

  /* BARRA DE NAVEGACION RESPONSIVE */
  .enlace_logo {
    padding-top: 8px;
    padding-bottom: 3px;
    padding-left: 5px;
  }

  .logo {
    height: 70px;
  }

  .nav_menu {
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    background-color: rgba(1, 1, 1, 0.88);
    position: fixed;
    right: 0;
    top: 80px;
    padding: 0;
    left: 200%;
    transition: left 0.3s;
  }

  .nav_menu_item {
    font-size: 17px;
    margin: 15px;
    line-height: 10px;
    width: max-content;
  }

  .nav_menu_link:hover {
    color: #f57806;
    transition: 0.3s;
  }

  .nav-toggle {
    display: block;
    cursor: pointer;
  }

  .bars {
    display: block;
  }

  .nav_menu_visible {
    /* clase para el menu cuando se despliega */
    left: 70%;
    height: 100%;
  }

  .body-move {
    margin-right: 250px;
  }

  .menu__side_move {
    width: 250px;
  }

  /* COMIENZO EDITOR DE ESTILOS BANNER E INFORMACION */

  .banner {
    width: 100%;
  }

  /* EDITOR DE ESTILOS INFORMACION DE LA PAGINA RESPONSIVE */

  .information {
    width: 100%;
    padding-top: 35px;
    /* display: flex; */
  }

  .information-1 {
    height: 100%;
    padding-top: 2px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .information-2 {
    text-align: center;
    height: 50%;
  }

  .information-1,
  .information-2 {
    width: 100%;
    float: left;
  }

  .tittle-information {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .information-list {
    margin-left: 20px;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .information-text {
    margin-bottom: 30px;
    text-align: left;
  }

  .information-text1 {
    /* margin-right: 30px; */
    text-align: left;
  }

  .img--information-2 {
    width: 60%;
  }

  /* COMIENZO RESPONSIVE TARJETAS DE RECICLAJE */

  .body__page {
    background-color: var(--background-color-gray);
    margin-top: 0px;
    padding-top: 5%;
    padding-bottom: 10%;
  }

  .body__page h1 {
    margin-top: 500px;
  }

  .container__card {
    /* background-color: var(--background-color-gray); */
    text-align: center;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 10px;
  }

  .card {
    margin-left: 30px;
    width: 100%;
    padding-top: 0px;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    /* margin: 20px; */
    transition: all 300ms;
  }

  .icon {
    width: 90%;
    border-radius: 20px 20px 0px 0px;
    background-color: #f17806;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  }

  .icon-img {
    width: 55%;
  }

  .info__description {
    width: 90%;
    /* text-align: center; */
    background: #e2e2e2;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    margin-top: 0;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  }

  .info__description p {
    font-size: 14px;
    margin-top: 10px;
    text-align: justify;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
  }

  .info__description input {
    margin-top: 20px;
    padding: 10px 2px;
    background: black;
    color: white;
    font-weight: 300;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 30px -5px #20202049;
  }
}
