* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

/* BARRA DE NAVEGACION */

.header {
  /* Encabezado */
  background-color: rgba(1, 1, 1, 0.88);
  width: 100%;
  height: 90px;
}

.enlace_logo {
  padding-top: 5px;
  margin-left: 5px;
}

.logo {
  height: 80px;
  /*width: 80%;
  height: 80%;
  margin-top: 20px;
  margin-right: 20px;
  padding-left: 30px;*/
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav_menu {
  /* Toda la lista ul*/
  display: flex;
  margin-right: 30px;
  list-style: none;
}

.nav_menu_item {
  font-size: 20px;
  margin: 15px;
  line-height: 60px; /* Altura de los nombres de las paginas */
  width: max-content;
}

.nav_menu_link:hover {
  color: #f57806;
  transition: 0.3s;
}

.nav-toggle {
  color: white;
  background: none;
  border: none;
  display: none;
}

.bars {
  display: none;
  height: 22px;
  padding-right: 20px;
  color: white;
}

.color-mantenido {
  color: #f57806;
}

/* BANNER INICIAL CON IMAGEN Y TITULO*/
.banner {
  /* position: relative; se pone en comentario por error en la barra de navegacion arreglar 
  barra de navegacion para que cuando se presione la barra de navegacion todo el body se corra para 
  la izquierda */
  width: 100%;
  height: calc(100vh - 90px);
  background-size: cover;
  background-position: center;
  transition: all 0.1s ease-in-out;
  background-image: url(./pagina_inicio.jpg);
}

.contenido-banner {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.t1 {
  margin-top: 35px;
  color: #f57806;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
}

.t2 {
  background: linear-gradient(
    179.17deg,
    #062cf5 0.71%,
    rgba(255, 94, 0, 0.699) 93.4%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 65px;
}

.banner-para {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 140px;
  margin-right: 140px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 280;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}

.logo-bantar-peque {
  margin-top: 70px;
  height: 110px;
}

/* INFORMACIÓN TARJETAS DE BANDA Y DE PROXIMIDAD */
.columns {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 850px;
  text-align: center;
}

.titulo2 {
  text-align: center;
  margin-bottom: 15px;
}

.container {
  width: 50%;
  float: left;
  padding: 20px 60px;
  box-sizing: border-box;
}

.columns--img--tittle {
  text-align: left;
}

.columns--img--text {
  text-align: justify;
}
.banda {
  width: 80%;
}

.proximidad {
  width: 80%;
}

.container h4 {
  margin-top: 5px;
}

.container p {
  margin-top: 3px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.btn1 {
  /* margin-left: 200px; */
  padding: 0.7em 1em;
  background: #4a4a4a;
  border: 1px solid #000000;
  box-shadow: 2px 7px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  text-decoration: none;
  color: WHITE;
}

/* PIE DE PAGINA FOOTER */

.footerr {
  position: relative;
  width: 100%;
  background-color: black;
  margin-top: 700px;
  min-height: 100px;
  /* padding-top: 20px; */
  padding-bottom: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img--footer {
  height: 80px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .menu li {
  list-style: none;
}

footer .menu li a {
  font-size: 1.2em;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer p {
  color: white;
  text-align: center;
  padding-top: 2px;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 80px;
  }

  /* BARRA DE NAVEGACION RESPONSIVE */
  .enlace_logo {
    padding-top: 8px;
    padding-bottom: 3px;
    padding-left: 5px;
  }

  .logo {
    height: 70px;
  }

  .nav_menu {
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    background-color: rgba(1, 1, 1, 0.88);
    position: fixed;
    right: 0;
    top: 80px;
    padding: 0;
    left: 200%;
    transition: left 0.3s;
  }

  .nav_menu_item {
    font-size: 17px;
    margin: 15px;
    line-height: 10px;
    width: max-content;
  }

  .nav_menu_link:hover {
    color: #f57806;
    transition: 0.3s;
  }

  .nav-toggle {
    display: block;
    cursor: pointer;
  }

  .bars {
    display: block;
  }

  .nav_menu_visible {
    /* clase para el menu cuando se despliega */
    left: 70%;
    height: 100%;
  }

  /* RESPONSIVE PARA LA PARTE DEL BODY 1 */

  .banner {
    margin: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center;
    transition: all 0.1s ease-in-out;
    background-image: url(./pagina_inicio.jpg);
  }

  .contenido-banner {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 32, 32, 0.623);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .t1 {
    margin-top: 0px;
    text-align: center;
    color: #f57806;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
  }

  .t2 {
    background: linear-gradient(
      179.17deg,
      #062cf5 0.71%,
      rgba(255, 94, 0, 0.5) 93.4%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Raleway';
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    margin-top: 2px;
  }

  .banner-para {
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 280;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
  }

  .logo-bantar-peque {
    margin-top: 40px;
    height: 110px;
  }

  /* RESPONSIVE PARA INFORMACION TARJETAS DE BANDA Y PROXIMIDAD */

  .columns {
    width: 100%;
    margin-top: 30px;
  }

  .titulo2 {
    text-align: center;
    margin-bottom: 15px;
  }

  .container {
    width: 100%;
    float: left;
    padding: 20px 15px;
    box-sizing: border-box;
  }

  .banda {
    width: 80%;
  }

  .proximidad {
    width: 80%;
  }

  .container h4 {
    padding-left: 20px;
    margin-top: 10px;
  }

  .container p {
    text-align: justify;
    margin-top: 3px;
    margin-left: 30px;
    padding-right: 20px;
    margin-bottom: 30px;
  }

  .btn1 {
    margin-left: 200px;
    padding: 0.7em 1em;
    background: #4a4a4a;
    border: 1px solid #000000;
    box-shadow: 2px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    text-decoration: none;
    color: WHITE;
  }

  /* RESPONSIVE FOOTER */
  .footerr {
    position: relative;
    width: 100%;
    background-color: black;
    margin-top: 1090px;
    min-height: 100px;
    /* padding-top: 20px; */
    padding-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
