* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMUNES */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* HEADER */

.header {
  border-bottom: 1px solid #ebebeb;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.container-header {
  display: flex;
}

.logo_bantar {
  padding-top: 19px;
  padding-left: 66px;
  padding-bottom: 15px;
  margin-right: 415px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav_link {
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 59px 0;
  position: relative;
}

.item-vertical:first-child {
  padding-bottom: 5px;
}

.menu-vertical {
  position: absolute;
  font-size: 12px;
  padding-left: 1px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 10px;
  display: none;
  /* background: rgba(248, 230, 233, 0.51); */
  border-radius: 0px 0px 4px 4px;
}

.menu-vertical_item {
  color: #000000;
}

.menu-vertical_item:hover {
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.main-nav_list li:hover .menu-vertical {
  display: block;
}

.main-nav_link:hover {
  color: #ea899a;
}

.main-nav_list {
  display: flex;
  align-items: center;
}

.main-nav_item {
  margin-right: 43px;
}

.main-nav_item:last-child {
  margin-right: 0;
}

.selected {
  color: #ea899a;
}

.selected::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ea899a;
  border-radius: 2px;
}

/* BANNER */

.banner {
  height: 410px;
  background: linear-gradient(
    269.84deg,
    #f0a7ab -13.67%,
    rgba(221, 167, 240, 0) 119.18%
  );
  text-align: left;
}

.banner-container {
  position: relative;
}

.primera-linea {
  padding-left: 149px;
  padding-top: 123px;
}

.segunda-linea {
  padding-left: 149px;
}

.img-primera-linea {
  height: 1px;
  width: 432px;
}

.titulo-banner {
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #ff003d;
  padding-top: 10px;
  padding-right: 466px;
}

.parrafo-banner {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ff82a0;
  padding-top: 28px;
  padding-right: 453px;
}

.imagen-banner {
  display: block;
  position: absolute;
  width: 525px;
  height: 410px;
  right: 26px;
}

.imagen-chica {
  width: 525px;
  height: 410px;
}

/* INTRODUCTION BANTAR */
.introduction {
  height: 1773px;
  background: linear-gradient(
    270.58deg,
    rgba(0, 160, 250, 0.24) -23.33%,
    rgba(253, 146, 255, 0.11125) 85.16%,
    rgba(255, 71, 104, 0) 193.65%
  );
}

.line-introduction {
  width: 1010px;
  padding-top: 38px;
  padding-bottom: 5px;
  margin: auto;
}

.line2-introduction {
  width: 1010px;
  margin: auto;
}

.tittle-introduction {
  font-style: ExtraBold;
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #ff003d;
  margin: auto;
}

.introduction-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  width: 902px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
}

/* CARDS WITH INFORMATION */

.cards-information {
  width: 825px;
  height: 346px;
  background-color: white;
  box-shadow: 7px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  position: relative;
  margin-left: 73px;
}

.img-tratamientos_faciales {
  position: absolute;
  top: 14px;
  left: 11px;
  width: 474px;
  height: 318px;
  border-radius: 12px;
}

.tratamientos-faciales {
  text-align: center;
  padding-left: 487px;
  padding-top: 86px;
}

.card-tittle {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: black;
}

.card-tittle3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: black;
}

.card-description {
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  color: black;
  padding-bottom: 60px;
}

.card-description3 {
  font-weight: 300;
  font-size: 30px;
  line-height: 38px;
  color: black;
  padding-bottom: 60px;
}

.btn-saber_mas {
  position: relative;
  font-size: 12px;
  line-height: 14px;
  height: 3em;
  padding: 0 3em;
  border: none;
  background-color: #ff82a0;
  color: #fff;
  overflow: hidden;
  border-radius: 9px;
  cursor: pointer;
}

.btn-saber_mas::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  background: rgb(196, 27, 84);
  background: linear-gradient(
    90deg,
    rgba(255, 130, 160, 1) 20%,
    rgb(204, 51, 102) 100%
  );
  transition: 0.2s;
}

.label {
  position: relative;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
  position: absolute;
  top: 3em;
  right: 0;
  opacity: 0;
  transition: 0.4s;
}

.btn-saber_mas:hover::before {
  height: 100%;
}

.btn-saber_mas:hover .icon {
  top: 0;
  opacity: 1;
}

.cards-information2 {
  width: 825px;
  height: 346px;
  background-color: white;
  box-shadow: 7px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  position: relative;
  margin-left: 302px;
  margin-top: 25px;
}

.cards-information3 {
  width: 825px;
  height: 346px;
  background-color: white;
  box-shadow: 7px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  position: relative;
  margin-left: 187px;
  margin-top: 25px;
}

/* FOOTER */
.container-footer {
  display: flex;
}

.logo-bantar_footer {
  padding-top: 64px;
  padding-left: 60px;
  padding-bottom: 64px;
  margin-right: 120px;
}

.redes-sociales {
  padding-top: 82px;
  margin-right: 120px;
}

.redes-sociales_tittle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-bottom: 25px;
}

.list-social_media {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 76px;
}

.socialmedia:hover {
  fill: #ff82a0;
  transition: 0.3s;
}

.pages {
  padding-top: 80px;
  margin-right: 120px;
}

.pages-footer {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.pages-footer:hover {
  color: #ea899a;
  font-weight: 400;
  transition: 0.2s;
}

.selected-footer {
  color: #ea899a;
  font-weight: 400;
  font-size: 18px;
}

.ubication {
  padding-top: 78px;
}

.ubication-list_item:not(:last-child) {
  padding-bottom: 15px;
}

.ubication-link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;

  color: #5f5f5f;
}

.ubication-link:hover,
.ubication-link:focus {
  color: #ea899a;
}

/* STYLES - WEB SERVICES PAGE */

.introduction-tittle_services {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  padding-top: 73px;
}

.introduction-text_services {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  padding-top: 42px;
  padding-left: 219px;
  padding-right: 220px;
}

.line-services_1 {
  width: 1056px;
  padding-top: 48px;
  padding-bottom: 5px;
  margin: auto;
}

.line-services_2 {
  width: 1056px;
  padding-top: 20px;
  padding-bottom: 5px;
  margin: auto;
}

/* LIMPIEZA PROFUNDA */

.info-limpiezas {
  display: flex;
}

.tittle-limpieza {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  padding-left: 80px;
}

.tittle-profunda {
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}

.limpieza-profunda_img {
  width: 552px;
  height: 347px;
  padding-left: 80px;
  padding-top: 10px;
}

.text-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #000000;
  padding: 28px 101px 25px 45px;
}

.text-limpieza_profunda {
  margin-bottom: 25px;
}

.questions-list_item:not(:last-child) {
  margin-bottom: 15px;
}

.drop-info,
.drop-info1,
.drop-info2,
.drop-info3,
.drop-info4,
.drop-info5,
.drop-info6,
.drop-info7,
.drop-info8,
.drop-info9,
.drop-info10,
.drop-info11,
.drop-info12,
.drop-info13,
.drop-info14,
.drop-info15 {
  display: flex;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(227, 255, 253, 0.56) -12.24%,
    rgba(255, 130, 160, 0.56) 154.92%
  );
  border: none;
  width: 500px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
}

.drop-info12 {
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
}

.minus-icon,
.minus-icon1,
.minus-icon2,
.minus-icon3,
.minus-icon4,
.minus-icon5,
.minus-icon6,
.minus-icon7,
.minus-icon8,
.minus-icon9,
.minus-icon10,
.minus-icon11,
.minus-icon12,
.minus-icon13,
.minus-icon14,
.minus-icon15 {
  display: none;
  margin-right: 10px;
}

.plus-icon,
.plus-icon1,
.plus-icon2,
.plus-icon3,
.plus-icon4,
.plus-icon5,
.plus-icon6,
.plus-icon7,
.plus-icon8,
.plus-icon9,
.plus-icon10,
.plus-icon11,
.plus-icon12,
.plus-icon13,
.plus-icon14,
.plus-icon15 {
  margin-right: 10px;
}

.button-tittle {
  position: relative;
  display: inline-block;
}

.button-content,
.button-content1,
.button-content2,
.button-content3,
.button-content4,
.button-content5,
.button-content6,
.button-content7,
.button-content8,
.button-content9,
.button-content10,
.button-content11,
.button-content12,
.button-content13,
.button-content14,
.button-content15 {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  text-align: justify;
  color: #000000;
  width: 500px;
  padding: 7px 22px 8px 30px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #a8a8a8;
  margin-bottom: 500000px;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

/* CUIDADO DE TUS PIERNAS */

.tittle-text {
  display: flex;
  align-items: center;
  width: 1004px;
  margin: auto;
  padding-top: 60px;
}

.presoterapia-tittle {
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
  padding-top: 20px;
  padding-bottom: 23px;
}

.negrita {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

.parrafo {
  padding-right: 63px;
}

.tittle-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  width: 467px;
}

.img-presoterapia {
  width: 474px;
  height: 319px;
  border-radius: 11px;
}

.piernas-info {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #000000;
  padding-bottom: 23px;
}

.question {
  font-size: 17px;
  line-height: 22px;
  color: #000000;
  padding-left: 5px;
}

.answer {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  color: #000000;
}

.informacion-presoterapia {
  display: flex;
  /* align-items: center; */
  width: 1027px;
  margin: auto;
  padding-top: 5px;
}

.piernas-cansadas {
  padding-right: 157px;
}

.beneficios-box {
  padding-top: 38px;
}

.beneficios {
  width: 1048px;
  margin: auto;
  display: flex;
  align-items: center;
  padding-bottom: 82px;
}

.center {
  padding-left: 142px;
  /*  text-align: center; */
}

.center1 {
  text-align: center;
  padding-left: 85px;
}

.list-beneficios {
  padding-top: 20px;
  padding-right: 120px;
  padding-left: 25px;
}

.list-contraindicaciones {
  padding-top: 20px;
  padding-left: 90px;
}

.list-beneficios_item {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

.img-beneficios {
  width: 477px;
  border-radius: 13px;
}

/* PRODUCTOS */
.tittle-productos {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  padding-top: 55px;
}

.productos-description {
  padding-top: 35px;
  text-align: justify;
  padding-left: 150px;
  padding-right: 150px;
}

.productss-tittle {
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
  padding-top: 20px;
  padding-bottom: 23px;
  padding-left: 69px;
}

.img-fondo {
  border-radius: 12px 12px 0px 0px;
  width: 268px;
  height: 268px;
}

.card-product {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 1000px;
  margin: auto;
}

.product_item- {
  flex-basis: calc((100% - 100px) / 3);
}

.product_item-1 {
  width: 300px;
  height: 514px;
  background: white;
  box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px 12px 12px 12px;
  position: relative;
}

.tittle-productos_1 {
  padding-top: 36px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
}

.tittle-productos_2 {
  font-weight: 300;
  font-size: 13px;
  line-height: 14px;
}

.list-caracteristicas {
  padding-bottom: 20px;
}

.img-producto {
  width: 82.41px;
  height: 281.78px;
  position: absolute;
  right: -8px;
  bottom: 219px;
}

.img-producto_1 {
  position: absolute;
  right: -18px;
  bottom: 221px;
  width: 124px;
  height: 278px;
}

.img-producto_3 {
  width: 179.21px;
  height: 152.33px;
  position: absolute;
  right: -54px;
  bottom: 219px;
}

.carac-item {
  font-weight: 300;
  font-size: 15px;
  line-height: 13px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 12px;
}

.btn-comprar {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: white;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border: none;
  background-color: #00ef6f;
  border-radius: 50px;
  margin: auto;
  cursor: pointer;
}

.wa-btn {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.wa-compra {
  padding-bottom: 5px;
}
